<div layout="column" ng-cloak>

    <md-content layout="row" layout-wrap layout-align="center center">

    <form name="forgotPasswordForm">

        <div layout="row" layout-align="start center">
            <img src="assets/images/logo2.png" width="154" height="64" alt="Fresh Start Health Retreats">
        </div>

        <h3>Forgot password</h3>

        <p>Please enter the email that you've used. <br/>We will send you the reset password link.</p>

        <md-input-container class="md-block">
            <label>Email</label>
            <input ng-model="email" name="uEmail" type="email" required autofocus="">
            <div ng-messages="forgotPasswordForm.uEmail.$error">
                <div ng-message="required">Email is required.</div>
                <div ng-message="email">Please enter a valid email.</div>
            </div>
        </md-input-container>

        <div layout="row" layout-xs="column" layout-align="space-between center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary" ng-click="sendRequest()" ng-disabled="forgotPasswordForm.$invalid || waitResponse">
                Reset password
            </md-button>
            <md-button class="md-primary" ui-sref="authless.login">
                Back to Log In
            </md-button>

        </div>

    </form>

    </md-content>

</div>
