<div layout="column" ng-cloak>

    <md-content layout="row" layout-wrap layout-align="center center">

        <form name="restorePasswordForm">

            <div layout="row" layout-align="start center">
                <img src="assets/images/logo2.png" width="154" height="64" alt="Fresh Start Health Retreats">
            </div>

            <h3>Restore password</h3>

            <md-input-container class="md-block">
                <label>Email</label>
                <input ng-model="restoreData.email" name="uEmail" type="email" required autofocus="">
                <div ng-messages="restorePasswordForm.uEmail.$error">
                    <div ng-message="required">Email is required.</div>
                    <div ng-message="email">Please enter a valid email.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Security Key</label>
                <input ng-model="restoreData.securityKey" name="uSecurityKey" type="text" required>
                <div ng-messages="restorePasswordForm.uSecurityKey.$error">
                    <div ng-message="required">Security Key is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>New Password</label>
                <input ng-model="restoreData.password" name="uPassword" type="password" required>
                <div ng-messages="restorePasswordForm.uPassword.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Repeat new password</label>
                <input ng-model="passwordRepeat" name="uRepeatPassword" type="password" required
                       repeat-password="restoreData.password">
                <div ng-messages="restorePasswordForm.uRepeatPassword.$error">
                    <div ng-message="required">Please repeat password.</div>
                    <div ng-message="repeatPassword">Passwords don't match.</div>
                </div>
            </md-input-container>

            <div layout="row" layout-xs="column" layout-align="space-between center" layout-wrap>
                <md-button type="submit" class="md-raised md-primary" ng-click="restorePassword()" ng-disabled="restorePasswordForm.$invalid || waitResponse">
                    Change password
                </md-button>
            </div>

        </form>

    </md-content>

</div>
