<div layout="column" ng-cloak>

    <md-content layout="row" layout-wrap layout-align="center center">
        <form name="passwordForm">
            <h3>Set new password</h3>

            <md-input-container class="md-block">
                <label>New Password</label>
                <input ng-model="newPassword" name="uPassword" type="password" required>
                <div ng-messages="passwordForm.uPassword.$error">
                    <div ng-message="required">Password is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Repeat New password</label>
                <input ng-model="newPasswordRepeat" name="uRepeatPassword" type="password" required
                       repeat-password="newPassword">
                <div ng-messages="passwordForm.uRepeatPassword.$error">
                    <div ng-message="required">Please repeat password.</div>
                    <div ng-message="repeatPassword">Passwords don't match.</div>
                </div>
            </md-input-container>

            <div layout="row" layout-xs="column" layout-align="space-between center" layout-wrap>
                <md-button type="submit" class="md-raised md-primary" ng-click="changePassword()" ng-disabled="passwordForm.$invalid || waitResponse">
                    Set password
                </md-button>
            </div>

        </form>
    </md-content>

</div>