$primaryColor: #9ECC4E;
$primaryColorSoft: #91b15c;
$accentColor: #32651C;
$warnColor: #F16723;

$primarySoftColor: #EAF7CB;
$accentSoftColor: #B1D78D;
$warnSoftColor: #FBB998;

$background: #1C2B36;
$backgroundTransparent: transparentize($background, 0.5);
$backgroundBlue: #337ab7;

$borderGray: rgba(0, 0, 0, 0.12);
$borderTable: #f0f3f4;

//Menu colors
$menuLeftSubItem: #ffa67a;
$menuLeftSubItemHover: #ff8040;