<md-dialog flex="30">
    <md-toolbar>
        <div class="md-toolbar-tools">{{ ::conf.title }}</div>
    </md-toolbar>
    <md-dialog-content layout-padding>

        <div>{{ ::conf.textContent }}</div>
        <md-input-container class="md-block">
            <label>{{ ::conf.inputLabel }}</label>
            <input type="text" ng-model="conf.inputText">
        </md-input-container>

    </md-dialog-content>
    <md-dialog-actions>
        <md-button aria-label="Cancel" ng-click="cancel()" class="md-raised">{{ conf.btnCancel || 'Cancel' }}</md-button>
        <md-button aria-label="Hide" ng-click="hide()" class="md-raised md-warn" ng-disabled="!conf.inputText">{{ conf.btnHide || 'Ok' }}</md-button>
    </md-dialog-actions>
</md-dialog>