<div ng-if="isReadOnly">
    {{ getFlagByColor(rowItem.colorValue).title }}
    <md-icon ng-if="isReadOnly" md-font-set="material-icons" style="color: {{ rowItem.colorValue }}">flag</md-icon>
</div>

<md-input-container ng-if="!isReadOnly">
    <md-select ng-model="rowItem.colorValue" ng-change="onChange(column, row)"
               ng-disabled="isReadOnly" aria-label=" ">
        <md-option ng-repeat="v in values" value="{{v.color}}">
            {{v.title}}
            <md-icon md-font-set="material-icons" style="color: {{ ::v.color }}">flag</md-icon>
        </md-option>
    </md-select>
</md-input-container>
