<form name="ConcreteCalendarEventCalendarController.form" style="min-height: calc(100vh - 80px)">

    <div layout="row" layout-align="space-between center" sticky style="height: auto" class="buttons-header">
        <menu-button></menu-button>

        <h3 flex>{{ title }}</h3>

        <div layout="row" layout-align="space-between center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary" ng-click="save($event)"
                       ng-disabled="waitResponse"
                       ng-if="!isReadOnly">
                Save
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                {{ !isModelChanged() ? 'Close' : 'Cancel' }}
            </md-button>
        </div>
    </div>

    <div event-calendar="calendarConf"
         calendar-ctrl="calendarCtrl"
         class="calendar"></div>

</form>
